 <!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('https://www.hdwallpapers.in/download/starry_sky_lavender_field-1920x1080.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>

<h2><font size = "10" face = "arial" color = "#FFF8DC">EXPLORING BEYOND</font></h2>
<h4><font color="white">My plans</font></h4>

<p><font size = "2" face = "arial" color = "#C6DEFF">
My plan is to explore beyond the dimension.Currently,I am loving Web development via django.
</font></p>
    <footer><center>
  <p><br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br> <br> <br><br><br><br><font size = "2" face = "arial" color = "#FFF8DC"> TIME of Download : {{ current_time }} -- Ananya</font></p></center>
</footer>
        <center>
            <a href="{% url 'page1'%}" style="color: white" >Homepage</a></center>


</body>
</html>